.container {
    background-color: black;
    padding: 5px;
    height: 500px; 
    overflow-y: scroll; 
    border: 1px solid wheat;
}

.outputLine {
    height: 1rem;
    white-space: pre;
}

.outputText {
    color: var(--terminal-font-color);
}