.container {
  position: relative;
  display: inline-block;
}

.terminalAccount {
  color: var(--terminal-account);
  font-weight: bold;
}

.terminalSeparator {
  color: var(--terminal-font-color);
}

.terminalLine {
  color: var(--terminal-path);
}

.terminalFontColor {
  color: var(--terminal-font-color);
}
  

.blinkingBox {
  width: 10px;          /* Adjust width as per your preference */
  height: 20px;         /* Adjust height to look like a cursor */
  background-color: #00ff00;  /* Ubuntu terminal-like green color */
  animation: blink 1s infinite;  /* Apply blinking animation */
  float: right;
}


@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}