@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --terminal-account: #26a269;
  --terminal-path: #12488b;
  --terminal-font-color: #00ff00;
}

html,
body {
  margin: 0;
  font-family: 'Ubuntu Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  color: var(--terminal-font-color);
  font-family: 'Ubuntu Mono', sans-serif;
}

p, a, span {
  font-size: 1.1rem;
}